:root {
  font-size: 100%;
}

/* https://coolors.co/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}



#content {
  font-family: 'Cinzel', serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
}

#header {
  height: 25%;
  min-height: 220px;
  background-color: #DDBEA9;
  display: flex;
  flex-direction: column;
}

#header-main {
  height: 100px;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
}

#header-sub {
  min-height: 40px;
  text-align: center;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 1.6rem;
  flex-grow: 1;
}

#nav-bar {
  min-height: 80px;
  max-height: 80px;
  background: #FFE8D6;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.tabs {
  border-right: 1px solid #6B705C;
  border-top: 1px solid #6B705C;
  border-bottom: 1px solid transparent;
  width: 33.4%;
  font-size: 20px;
  line-height: 80px;
  text-align: center;
  height: 78px;
  color: #A06240;
}

.tabs:hover {
  text-decoration: underline;
  text-decoration-color: #A06240;
}

.tabs:active {
  background: #DDBEA9;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #6B705C;
  color: #35382E;
  text-decoration-color: #35382E;

}

.active-tab {
  background: #DDBEA9;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #6B705C;
  color: #35382E;
}

.active-tab:hover {
  text-decoration-color: #35382E;
}

#main {
  height: 70%;
  min-height: 570px;
  flex-grow: 10;
  align-items: stretch;
  background-image: url(./template-herbs-small.jpg);
  padding-top: 30px;
  padding-bottom: 70px;
}

.main-content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background: rgba(233, 237, 201, 0.8);
}

.tab-title {
  font-size: 1.5rem;
  text-align: center;
}

.tab-text {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  outline: none;
}

#contact-content {

}

#home-picture {
  display: block;
  width: 40%;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px 2px solid black;
}

#footer {
  position: relative;
  bottom: 40px;
  min-height: 40px;
  height: 40px;
  background: rgba(255, 232, 214, 0.85);
  display: flex;
  justify-content: space-between;
  
}

:any-link {
  color: #35382E;
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  width: 30%;
  text-align: center;
}

:any-link:hover {
  text-decoration: underline;
}


* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}